<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>사용자정보다</title>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
	<h1>사용자정보페이지 </h1>
	<div>
		<div>아이디 : <span th:text="${user.uid}"></span></div>
		<div>이름: <span th:text="${user.uname}"></span></div>
		<div>
			전화번호 : <span th:text="${user.phone}"></span>
		</div>
		<div>
			주소 : <span th:text="${user.add1}"> </span><span th:text=${user.add2}></span>
		</div >
		<div>가입일 : <span th:text="${#dates.format(user.regDate, 'yy년MM월dd일 HH시' )}"></span></div>
	</div>
	<button id="btn_delete">삭제</button>
	<button id="btn_update">수정</button><br>
	<a href="/users/list">목록으로이동</a>
</body>

<script>
const uid="[[${user.uid}]]";

	$("#btn_update").on("click", function(){
		location.href="/users/update/" + uid;
	});



	$("#btn_delete").on("click", function(){
		if(!confirm(uid + " 아이디를 삭제하시겠습니까?")) return;
		$.ajax({
			type:"post",
			url:"/users/delete/" + uid,
			success:function(){
				alert("삭제완료");
				location.href="/users/list";
			},
			error:function(){
				alert("삭제실패");
			}
		});
	});
</script>



</html>

