<div class="container">
	<a href="/">홈으로가기</a>
	<h1>자유게시판</h1>
	<div>
		<form name="frm">
			<select name="key">
				<option value="">선택하세요</option>
				<option value="uid">아이디</option>
				<option value="uname">이름</option>
				<option value="title">제목</option>
				<option value="contents">내용</option>
			</select>
			<input name="word" placeholder = " 검색어를 입력...">
			<button>검색하기</button>
			검색수 : 
			<span id="total"></span>
		</form>
	</div>
	<div id="div_list"></div>
	<button id="prev">이전</button>
	<span id="page"></span>
	<button id="next">다음</button>
	<a href="/bbs/insert"><button class="btn btn-outline-dark" id="btn_insert">글쓰기</button></a>
	<script id="temp_list" type="x-handlebars-template">
		{{#each documents}}
			<div>
				<a href="/bbs/read/{{bid}}">{{bid}} {{title}}</a>
			</div>
		{{/each}}
	</script>
</div>

<script>


	let page = 1;
	let size = 5;
	let key = $(frm.key).val();
	let word = $(frm.word).val();
	
	$(frm).on("submit", function(e){
		e.preventDefault();
		key = $(frm.key).val();
		word = $(frm.word).val();
		page=1;
		getList();
	});
	
	$("#next").on("click", function(){
		page++;
		getList();
	});
	
	$("#prev").on("click", function(){
		page--;
		getList();
	});

	
	getList();
	function getList(){
		$.ajax({
			type:"get",
			url:"/bbs/list.json",
			data:{page, size, key, word},
			dataType:"json",
			success : function(data){
				//console.log(data);
				const temp = Handlebars.compile($("#temp_list").html());
				$("#div_list").html(temp(data));
				$("#total").html(data.total);
				const last = Math.ceil(data.total/size);
				$("#page").html(page + "/" + last);
				
				if(page==1) $("#prev").attr("disabled", true);
				else $("#prev").attr("disabled", false);
				
				if(page==last) $("#next").attr("disabled", true);
				else $("#next").attr("disabled", false);
			}
		});
	}
</script>